.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

#root, body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 4%;
  height: 20%;
}

.content {
  position: relative;
  grid-area: content;
  height: -moz-available, -webkit-fill-available;
  overflow-y: auto;
}

.aside {
  grid-area: aside;
  background-color: #000;
  height: -moz-available, -webkit-fill-available;
}

.main-container {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "aside content"
}

@media (max-width: 500px) {
  .main-container {
    grid-template-columns: 4fr;
    grid-template-areas:
      "aside"
      "content"
  }
}
